<mat-card class="w-10/12 md:w-7/12 mx-auto">
  <mat-card-header>
    <mat-card-title>Mietinformationen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <div class="flex flex-col sm:flex-row sm:gap-5 items-center">
        <mat-form-field class="w-full sm:basis-4/12">
          <mat-label>Mietpartei links</mat-label>
          <input matInput formControlName="tenantLeft" />
        </mat-form-field>
        <mat-form-field class="w-full sm:basis-4/12">
          <mat-label>Mietpartei mitte</mat-label>
          <input matInput formControlName="tenantMiddle" />
        </mat-form-field>
        <mat-form-field class="w-full sm:basis-4/12">
          <mat-label>Mietpartei rechts</mat-label>
          <input matInput formControlName="tenantRight" />
        </mat-form-field>
      </div>

      <div class="flex flex-col sm:flex-row sm:gap-5 items-center">
        <mat-form-field class="w-full sm:basis-4/12">
          <mat-label>Etage</mat-label>
          <input matInput formControlName="floor" />
        </mat-form-field>
        <mat-form-field class="w-full sm:basis-4/12">
          <mat-label>Zeitraum - Start</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="pickerStart" />
          <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="w-full sm:basis-4/12">
          <mat-label>Zeitraum - Ende</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="pickerEnd" />
          <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex">
        <button class="flex-1" mat-raised-button color="primary" [disabled]="!this.form.valid">Jahresplan generieren</button>
      </div>
    </form>
    <div id="canvas">
      <div class="flex justify-between">
        <h2 class="mt-10">
          <span class="mr-4">Treppenreinigung</span>
          {{ form.value.floor }}. OG
        </h2>
        <img id="image" class="my-4 hidden sm:block sm:h-24" src="/treppenhaus.png" alt="Treppe mit Wischer" />
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Week Column -->
        <ng-container matColumnDef="week">
          <th mat-header-cell *matHeaderCellDef class="w-1/3">Woche</th>
          <td mat-cell *matCellDef="let element">{{ element.week }}</td>
        </ng-container>

        <!-- Tenant Column -->
        <ng-container matColumnDef="tenant">
          <th mat-header-cell *matHeaderCellDef class="w-1/3">Mietpartei</th>
          <td mat-cell *matCellDef="let element">{{ element.tenant }}</td>
        </ng-container>

        <!-- Completed Column -->
        <ng-container matColumnDef="completed">
          <th mat-header-cell *matHeaderCellDef class="w-1/3">Erledigt durch/am</th>
          <td mat-cell *matCellDef="let element">{{ element.completed }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <div class="flex">
      <button class="flex-1 mt-5" mat-raised-button color="primary" [disabled]="!isContent()" (click)="generatePDF()">PDF generieren</button>
    </div>
  </mat-card-content>
</mat-card>
